<?xml version="1.0"?>
<launch>

	<node pkg="airo_control" type="airo_control_node" name="airo_control_node" output="screen">
        <rosparam command="load" file="$(find airo_control)/config/gazebo/fsm_gazebo.yaml" ns="fsm"/>
		<rosparam command="load" file="$(find airo_control)/config/gazebo/mpc_gazebo.yaml" ns="mpc"/>
		<rosparam command="load" file="$(find airo_control)/config/gazebo/backstepping_gazebo.yaml" ns="backstepping"/>
		<rosparam command="load" file="$(find airo_control)/config/gazebo/slidingmode_gazebo.yaml" ns="slidingmode"/>
	</node>

	<!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

</launch>